<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AAP - All Purpose Products</title>
  <link rel="stylesheet" href="css/output.css">
</head>
<body>
  <header class="py-4 w-full bg-gray-700 px-6">
    <h1 class="text-lg font-bold text-white">All Purpose Products: AAP</h1>
  </header>
  {{{body}}}
  <footer class="py-8 w-full bg-gray-700 px-6 text-lg font-bold text-white">
    Comision 43380
  </footer>
</body>
</html>